<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>게시글 페이지</title>
</head>

<body>

<header id="header"></header>

<main>
   <header>
       <h1>첫번째 글</h1>
   </header>
    <aside>
        <p>ㅎㅅ</p>
        <p><a rel="me" href="mailto:qax741@gmail.com">qax741@gmail.com</a></p>
        <p><time datetime="2024-01-03T00:00:00">2024-10-03</time></p>
        <p>#java</p>
    </aside>

    <section>
        <p>본문<br><br></p>
        <div>
            <form>
                <label for="articleComment" hidden>댓글</label>
                <textarea id="articleComment" placeholder="댓글 쓰기.." rows="3"></textarea>
                <button type="submit">쓰기</button>
            </form>
            <ul>
                <li>
                    <div>
                        <time><small>2024-01-03</small></time>
                        <strong>ㅎㅅ</strong>
                        <p>
                            어쩌구 랄랄라 저쩌구
                            안녕하세요 해솔입니다.
                        </p>
                    </div>
                </li>
                <li>
                    <div>
                        <time><small>2024-01-03</small></time>
                        <strong>ㅎㄱ</strong>
                        <p>
                            어쩌구 랄랄라 저쩌구
                            안녕하세요 환국입니다.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <nav class="" role="navigation">
            <a class="" href="#"></a>
            <a class="" href="#"></a>
        </nav>
    </section>
</main>

<footer id="footer"></footer>

</body>
</html>